/*-Fonts START-*/
@font-face {
    font-family: "Cursed Timer";
    src: url("./CursedTimer.ttf");
}
/*-Fonts END-*/

/*-Main Elements START-*/
body {
    margin: 0;
    
    background-color: #1B244A;
    color: #EEEEEE;
}

/*-CONTENT TESTING CLASS-*/
.test {
    border: 1px dotted white;
}

@media only screen and (max-width: 450px) {
    .container {
        width: 100%;
        height: 100%;

        margin-top: 50px;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    
    .score-panel {
    width: 200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    }   
}

@media only screen and (min-width: 451px) {
    .container {
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 30px auto;
    }
    /*-Main Elements END-*/

    .score-panel {
    width: 200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }   
}

.score-title {
    margin-bottom: 15px;
}

.score-title-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 150px;
    height: 120px;
    background-color: #080001;
    
    border-radius: 10px;
}

.counter-title {
    font-family: "Cursed Timer", sans-serif;
    color: red;
    font-size: 80px;
    margin-top: 12px;
}

.functions {
    margin-top: 15px;
    
    width: 150px;
    height: 45px;
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
}

.function-btn {
    font-family: "Cursed Timer", sans-serif;
    font-size: 18px;
    
    background-color: transparent;
    color: #9AABD8;
    
    border-radius: 5px;
    border: 2px solid #9AABD8;
    
    padding: 10px;
}

.function-btn-text{
    position: relative;
    display: block;
    top: 2.5px;
}

.reset {
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    margin-top: 35px;
}